@page "/Login"
@attribute [AllowAnonymous]
@inject AuthenticationStateProvider asp
@inject HttpClient httpClient
@inject NavigationManager nm
@inject ILogger<Login> logger

<div class="container">
    <div class="flex-col">
        <h1>Login</h1>
        <p>Username</p>
        <input @bind="@request.Username" />
        <p>Password</p>
        <input type="password" @bind="@request.Password" />
        <p>@message</p>
        <button @onclick="HandleLogin">Login</button>
    </div>
</div>

@code
{
    string? message;
    LoginRequestDto request = new();

    private async Task HandleLogin()
    {
        try
        {
            var response = await httpClient.PostAsJsonAsync($"{ApiService.API_URL}/user/login", request);
            if (!response.IsSuccessStatusCode)
            {
                logger.LogWarning($"Login request failed for user: {request.Username}.");
                message = "Login failed.";
            }
            else
            {
                var result = await response.Content.ReadFromJsonAsync<UserTokensDto>();
                if (result is null)
                {
                    logger.LogWarning($"Login request failed for user: {request.Username}.");
                    message = "Login failed.";
                    return;
                }
                await ((CustomAuthenticationStateProvider)asp).SaveToken(result);
                message = result.Claims;
                logger.LogInformation($"Login successful for user: {request.Username}.");
                if (nm.Uri != "/" && nm.Uri != "")
                    nm.NavigateTo(nm.Uri, true);
            }
        }
        catch(Exception ex)
        {
            message = ex.Message;
            logger.LogError($"Login request failed with exception: {ex.Message}.");
        }
    }
}